/* 
    Created on : 12.04.2015, 11:01:38
    Author     : tino
*/

#forum_menu{
    position: relative;
    width: auto;
    min-width: 150px;
    height: auto;
    overflow:auto; 
    /*right: calc((100% - 1024px) / 2);
    float: right;
    
    /*visibility: hidden;*/
}

p.c{
    width: 100%;
    padding: 5px;
}
p.c:hover{
    background-color:lightgrey;
    cursor: pointer;
}
.container_post{
    display: table;
    width: 100%;
}

.post_cell{
    display: table-cell;
    vertical-align: top;
    overflow:auto;
}

/*  da display: table-cell; kein margin erlaubt, 
    ein extra div um Abstand zwischen post und menue*/
.post_cell_margin{ 
    margin-left: 15px;
    box-sizing: border-box;
}

.post{
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    overflow:auto;
}

.post_beitrag{
    display: table-cell;
    vertical-align: top;
    
}
.post_avatar{
    display: table-cell;
    padding: 15px 0px 15px 10px;;
    
}

.antwort_button{
    position: relative;
    text-align: right;
    overflow: auto;
}
   
.post_form{
    display: none;
    padding: 15px 20px 20px 20px;
}

div.topic_hover:hover{
    background-color: lightgray;
}
   
*[onclick] {
    cursor: pointer;
}

.forum_table{
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
}

.forum_table_right{
    text-align: right;
}

.forum_table_middle{
    min-width: 10px;
}
.forum_table_tr{
    height: 60px;;
}
    

