/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.04.2015, 16:53:15
    Author     : tino
*/

html {
    /*need for footer position*/
    position: relative;
    min-height: 100%;
}

body{
    background-color: white;
    font-family: Arial;
    margin: 0 0 35px; /* bottom = footer height */
}

header{
    display:block;
    position:relative;
    width: 100%;
    min-height: 75px;
    background-color:#656565;
    color: white;
}

h1{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
}


#user_panel{
    diplay:block;
    position: relative;
    margin: 7px auto;
    height: auto;
    width: 100%;
    max-width: 1024px;
    background-color: white;
    box-sizing: border-box;
    padding: 7px 7px 7px 7px;
}

#login_form{
    diplay:block;
    position: relative;
    width: 100%;
    
}
.login{
    width: 30%;
    max-width: 200px;
    box-sizing: border-box;
    margin-right: 5px;
    float: left;
}

article{
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    background-color: white;
    box-sizing: border-box;
    padding: 0px 7px 7px 7px;  
   
}

footer{
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color:#333333;
    color: white;
    word-spacing: 3px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    text-shadow:1px 1px 1px black;
   }