/* 
    Created on : 05.04.2015, 16:53:15
    Author     : tino
*/



html {
    /*need for footer position*/
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial;
    margin: 0 0 35px; /* bottom = footer height */
}

header{
    display:block;
    position:relative;
    width: 100%;
    min-height: 75px;
    background-color:#656565;
    color: white;
}

h1{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
}


.user_panel{
    diplay:block;
    position: relative;
    margin: 0 auto;
    margin-top: 3px;
    height: 50px;
    width: 100%;
    max-width: 1024px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 7px 7px 7px;
}

.user_panel_full{
    position: absolute;
    top: 29px;
    right: calc((100% - 1024px) / 2);
    width: auto;    
    height: auto;
    padding: 0;
    margin: 0;
    background-color:#656565;
    box-sizing: border-box;
    z-index: 2;
}

.unread_count{
    font-size: 16px;
    font-weight: bold;
    color: red;
    position: absolute;
    width: auto;    
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
}

.unread_message_full{
    top: 48px;
    right: calc((100% - 1024px) / 2 + 4px);    
}

.unread_forum_full{
    top: 48px;
    right: calc((100% - 1024px) / 2 + 60px);
}

.unread_message_small{
    top: 18px;
    left: calc(50% - 16px);
}

.unread_forum_small{
    top: 18px;
    left: calc(50% + 40px);
}
#login_form{
    diplay:block;
    position: relative;
    width: 100%;
    
}
.login{
    width: 30%;
    max-width: 200px;
    box-sizing: border-box;
    margin-right: 5px;
    float: left;
}

article{
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px 7px 7px 7px;  
   /* border: 1px solid black;*/
    
   
}

footer{
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color:#333333;
    color: white;
    word-spacing: 3px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    text-shadow:1px 1px 1px black;
   }